*{
    margin: 0;
    padding: 0;
}

.col{
    height: 12.5vh;
    width: 12.5vw;
    /* border: 2px solid red; */
}

.row{
    display: flex;
}
.row-A .col:nth-child(2n+1){
    background-color: black;
}
.row-B .col:nth-child(2n){
    background-color: black;
}